<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
   <h3>Enter your phrase:</h3>

  <form method="POST" action="/piglatinize">
  <p>Pig Latinizer!</p>
  <textarea name="user_phrase"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>

  
  </body>
</html>